<h1>{{ componentName }}</h1>
<slot name="title">Ejemplo de Contador</slot>
<p id="count" name="count"></p>
<button id="counter-plus">+</button>
<button id="counter-minus"> - </button>

<slot name="description"><p>Una descripción</p></slot>

<style>
p#count {
	color: red;
	font-size: 32px;
}
</style>

<script data-dynamic> // El data-dynamic es para que se re-ejecute en cada re-renderizado
	const [count, setCount] = useState(0);
	
	useEffect((cvalue) => {
		document.querySelector("#count").innerHTML = cvalue;
	}, [count]);
	
	document.querySelector("#counter-plus").addEventListener("click", () => {
 		setCount(v => v + 1); // No tiene ViewTransition en los cambios
	});
	
	document.querySelector("#counter-minus").addEventListener("click", () => {
	 	// Los cambios se hacen con ViewTransition
		useViewTransition(() => setCount(v => (v <= 0) ? 0 : v - 1));
	});
	
	// Cada que cambie el atributo title, se actualiza el slot
	registerDynamicCallback("title", (nv) => {
		document.querySelector("slot[name='title']").innerHTML = nv;
	})
	
	registerDynamicCallback("title", (nv) => {
		console.log("Updating title: ", nv);
	})

</script>